.App {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-create {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.todo-input {
  width: 100%;

  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  cursor: pointer;
}

.todo-create-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.todo-icons {
  font-size: 25px;
  margin-right: 5px;
}
